/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 19 feb 2024, 11:52:56
    Author     : luisp
*/

/*  Color for the background  */
body {
      background-image:url("../img/kirby.gif");
      background-position: right top;
      background-repeat: no-repeat}

/* Color for all the headers (1)*/
h1{color: pink; font-size:20pt; font-weight: bolder}

/*  Color fot the hr  */
hr{color: navy;}

/* Color fot the paragraph element*/
p {font-size: 11pt; margin-left:15px; color: pink}



/* Colors fot the anchor element in its different modes  */

a{
    text-decoration: blink;
}
a:link {color:green;}

a:visited{color:blue;}

a:active{color: green;}

a:hover{color: black;}